		#webConsole{
			display:block;
			position: relative;
			height:auto;
			margin:auto;
			width:200px;
		}

			#webConsoleTitle span{
				font-size:10px;
			}
			#webConsoleTitle i{
				font-size:15px;
			}

		#webConsoleContent{
			background-color: rgba(30,30,30,0.8);
			box-shadow: 0 0 10px 0 rgba(0,200,20,0.2);
			border-radius: 5px;
			padding:3px;
			width:200px;
		}
		
		#webConsoleControl{
			display:none;
		}
		
		#consoleOutput{
			color: white;
			font-size:15px;
			margin:3px;
			width:170px;
			opacity:0;
		}
			#consoleOutput i{
				font-size:15px;
			}
		
		#actionImg{
			cursor:pointer;
			user-select:none;
			color:white;
			font-size:100px;
		}
		#webConsoleAutentification{
			display:none;
		}
			#webConsoleAutentification input{
				padding: 5px;
				width:190px;
			}
		
			#webConsoleProjectList div{
				color:#1f1f1f;
				margin:3px;
				padding:8px;
				background-color: white;
				cursor:pointer;
				border-radius:5px;
			}
			#webConsoleProjectList div:hover{
				background-color: rgba(10,180,25,1);
				color: #e0e0e0;
			}
			.webConsole-Title{
				font-size:17px;
				color: #f0f0f0;
				text-align: center;
				display:block;
				width:190px;
				margin-bottom: 20px;
			}
		
		
		
		#webConsoleMessageBox{
			height: 200px;
			overflow-y:auto;
		}
			#webConsoleMessageBox div{
				padding:3px; margin:5px;
				background: white;
				font-size:14px;
				width:80%;
				margin-right:15%;
				border-radius:5px;
			}
			#webConsoleMessageBox span{
				color:firebrick;
				display:block;
			}
			
			#webConsoleMessageInput{
				margin:auto;
				width:190px;
			}
			#webConsoleMessageInput i{
				color: white;
				display:inline-block;
				cursor:pointer;
				margin-left:4px;
			}
			#webConsoleMessageInput input{
				border-radius:20px;
				width: 150px;
				padding: 4px;
			}
			#webConsoleMessageInput i:hover{
				color: #e0e0e0;
			}
			
			#webConsoleMessageButtons{
				
			}
			#webConsoleMessageButtons span{
				margin:5px;
				color: white;
				cursor:pointer;
				float:left;
			}
